@font-face {
  font-family: "Bolt-Regular";
  src: local("Bolt-Regular"),
   url("./fonts/bolt-regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Bolt-Semibold";
    src: local("Bolt-Semibold"),
     url("./fonts/bolt-semibold.ttf") format("truetype");
     font-weight: bold;
    }

  body {
    margin: 0;
    font-family: "Bolt-Regular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
